.sidebar {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 275px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  &__top {
    &__title {
      margin-bottom: 40px;
      text-align: center;
      font-size: 30px;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      &__item {
        border-radius: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 7px 15px;
        gap: 10px;
        transition: all 0.3s ease;
        i {
          font-size: 30px;
        }
        &:hover {
          background-color: #fff;
          color: #000;
          transition: all 0.3s ease;
        }
        &__active {
          background-color: #fff;
          color: #000;
          transition: all 0.3s ease;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &__button {
      width: 100%;
    }
  }
}
